.toolbar-nav__link {
  display: inline-flex;
  align-items: center;
  margin: 0 2rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  border: none;
  background: none;
}
/* 

.toolbar-nav__link.active {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

:root {
  --text: #2b3044;
  --line: #bbc1e1;
  --line-active: #0C6EDB;
}

a {
  position: relative;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}

.toolbar-nav__link svg {
  height: 45px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}

a:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
} */


.DDWrap{
  position: relative;
  cursor: pointer;
}

.ddAuth{
  position: absolute;
  background: #000;
  color: #fff;
  padding: 20px;
  bottom: -113px;
  transition: all 200ms linear;
  z-index: 2;
  border-radius: 6px;
  right: 23px;
  opacity: 0;
  visibility: hidden;
}

.ddAuth::after {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.ddAuth.active{
  bottom: -125px;

  opacity: 1;
  visibility: visible;
}




.nav__link {
  margin: 0 20px;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  font-size: 20px;
}

.toolbar-nav {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}
.toolbar-nav * {
  z-index: 2;
}

.nav__link.active {
  color: white;
}


.link1.active ~ .glider {
  transform: translateX(5%);
}
.link2.active ~ .glider {
  transform: translateX(122%);
}
.link3.active ~ .glider {
  transform: translateX(230%);
}
.link4.active ~ .glider {
  transform: translateX(339%);
}
.glider {
  position: absolute;
  height: 33px;
  width: 100px;
  background-color: #1787d7;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}
