.toolbar-nav__link {
  display: inline-flex;
  align-items: center;
  margin: 0 2rem;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  border: none;
  background: none;
}
.nav_link {
  color: #1787d7;
  border-radius: 5px;
  margin-bottom: 5px;
  text-decoration: none;
  transition: .5s;
}

.nav_link:hover {
  background-color: gainsboro;
}
.logout-btn {
  margin: 0 auto;
  border: none;
  background: none;
  border-radius: 5px;
  color: rgb(173, 13, 13);
}

.logout-btn:focus,
.logout-btn:hover {
  background: red;
  color: white;
}
.DDWrap{
  position: relative;
}

.ddAuth{
  text-align: center;
  width: 206px;
  position: absolute;
  background: #000;
  color: #fff;
  padding: 20px;
  bottom: -113px;
  transition: all 200ms linear;
  z-index: 2;
  border-radius: 6px;
  right: 7px;
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.ddAuth::after {
  position: absolute;
  top: -7px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #111;
  content: '';
  display: block;
  z-index: 2;
  transition: all 200ms linear;
}

.ddAuth.active{
  bottom: -132px;
  opacity: 1;
  visibility: visible;
}




.nav__link {
  margin: 0 20px;
  font-weight: 500;
  color: #555;
  text-decoration: none;
  font-size: 20px;
}

.toolbar-nav {
  display: flex;
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
  padding: 0.75rem;
  border-radius: 99px;
}
.toolbar-nav * {
  z-index: 2;
}

.nav__link.active {
  color: white;
}


.link1.active ~ .glider {
  transform: translateX(5%);
}
.link2.active ~ .glider {
  transform: translateX(122%);
}
.link3.active ~ .glider {
  transform: translateX(230%);
}
.link4.active ~ .glider {
  transform: translateX(339%);
}
.glider {
  position: absolute;
  height: 33px;
  width: 100px;
  background-color: #1787d7;
  z-index: 1;
  border-radius: 99px;
  transition: 0.25s ease-out;
}
