.news-list {
  display: grid;
  grid-template-columns: repeat(auto-fit ,minmax(300px ,1fr));
  gap: 3rem;
  padding: 2rem;
}

.news__item {
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  background: white;
  box-shadow: 0px 0px 4px 0px gainsboro;
  border-radius: 5px;
  position: relative;
}

.news__item-caption{
  padding: 1rem 1rem 2rem 1rem;
}
.news__item img {
  height: 215px;
  border-radius: 10px 10px 0 0;
}

.news__link { 
  border: none;
  color: white;
  background: mediumpurple;
  padding: 0 15px;
  border-radius: 5px;
  font-weight: 500;
  transition: .5s;
}

.news__link:hover {
  color: mediumpurple;
  background: white;
  border: 1px solid mediumpurple;
}

.news-date {
  display: flex;
  justify-content: space-between;
  color: #614eff;
  font-weight: 500;
}

.news-footer {
  display: flex;
  position: absolute;
  bottom: 10px;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
}


