.back-drop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, .8);
  z-index: 99;
  transition: .15s;
  display: flex;
  justify-content: center;
  align-items: center;
}
