.news__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin: 5rem;
}

.news__form-group {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.news__form-start {
  width: 400px;
}

.news__form-end {
  width: 500px;
}

.news__text-field {
  padding: 0.375rem 0.75rem;
  color: #212529;
  background-color: #fff;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.news__img-select {
  margin-top: 50px;
}

.add-btn {
  padding: 5px 12px;
  border: none;
  border-radius: 7px;
}