.news-item {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3rem;
  font-family: 'Merriweather';
}

.news-item img {
  height: 270px;
  width: 564px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 0px 31px 7px gainsboro;
  transition: all ease 1s;
}

.news-item img:hover {
  transform: scale(1.05);
}

.news-item-caption {
  position: relative;
  width: 450px;
}

.news_footer {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;
}